@media screen and (max-width: 800px){

    /* ===============toggle-menu functionality ===========*/


    label {
        /* background-color: #11cccc; */
        cursor: pointer;
      }
      
      #menu-toggle {
        display: none;
      }

      #menu {
        overflow: hidden;
        height: 100vh;
        max-height: 0;
        padding: 0;
        margin: 0 auto;
        -webkit-transition: all 0.5s ease;
        display: flex;
        flex-direction:column;
      }
      #menu-toggle:checked + #menu {
        max-height: 100%;
      }

      #menu li {
        background-color: rgba(160, 156, 154, 0.76);
        padding: 10px;
        flex-grow: 1;
        text-decoration: none;
        list-style-type: none;

      }

      li.list-item{
        color: rgb(246, 242, 242);
        text-align: center;
        font-size: 30px;
        font-family: 'Fredoka One', cursive;
      }

    /* =============== end toggle-menu functionality ===========*/

      
    .container-body{
        background-image: url("../../img/backgrounds/background_3.jpg");
        display: flex;
        height: 100%;
        font-family: 'Fredoka One', cursive;
        margin: 0;
    }

    div.container-header{
        /* padding: 10px;
        margin-left: 80%;
        margin-right: 0%;
        padding: 5px; */
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        font-family: 'Fredoka One', cursive;
        letter-spacing: 10px;
        position: sticky;
        top: 0px;
        
    }

    .site-header{
      padding: 10px;
    }


}



